.wrapper {
    width: 600px;
    margin: 0 auto;
}

#fixed {
    background-color: #eee;
    position: fixed;
    top: 0;
    left: 0;
    text-align: center;
    padding: 40px;

}

#relative{
    background-color: #eee;
    height: 250px;
}

#absolute{
    background-color: #999;

}
